/* The navigation bar */
#navbarTop {
    overflow: hidden;
    color: white;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 350px; /* Full width */
}

#navbarFloor {
    position: fixed;
    top: 600px;
    width: 350px; /* Full width */
}

#keypadArrows{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
}

/* button.controle {
    width: 100px;
    height: 50px;
    margin: 5px;
} */


.topInfo {
    float: left;
    margin: 10px,0,0,10px;
}

.labelRight {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

#buttonsRight {
    position: absolute;
    left: 350px;
}

#buttonsRight button {
    display: block;
    margin: 10px;
    width: 60px;
}

.navigation{
    
}

.navigation:hover{
    
}

.fire {
   
}

/* http://cssdeck.com/labs/fancy-3d-button */

button.controle {
    /* position: relative; */
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgb(102, 100, 99);
    /* font-family: 'Yanone Kaffeesatz'; */
    font-weight: 700;
    font-size: 3em;
    /* display: block; */
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgb(34, 34, 34), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgb(41, 41, 41), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgb(41, 41, 41), 0px 9px 25px rgba(0,0,0,.7);
    margin: 0px auto;
    width: 110px;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

button.controle:active {
    -webkit-box-shadow: 0px 3px 0px rgb(44, 44, 44), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgb(49, 49, 49), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgb(49, 49, 49), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}