body { -ms-touch-action: manipulation; } 

/* The navigation bar */
#navbarTop {
    overflow: hidden;
    color: white;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 550px; /* Full width */
}

#navbarFloor {
    position: fixed;
    top: 360px;
    width: 500px; /* Full width */
}

#keypadArrows{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 25px;
}

button.controle {
    width: 100px;
    margin: 5px;
}


.topInfo {
    float: left;
    margin: 10px,0,0,10px;
}

.labelRight {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

#buttonsRight {
    position: absolute;
    left: 560px;
    width: 100px;
}

#buttonsRight button {
    display: block;
    margin: 10px;
    width: 100px;
}