
.event{
  width: 100%;
}

.group {
  font-weight: bold;
  /* display: inline-block; */
  padding-right: 10px;
  /* width: 100px; */
}
.date {
display: inline-block;
padding-right: 10px;
}

.description {
  display: inline-block;
  padding-right: 10px;
  width: 200px;
}

.type {
  display: inline-block;
  padding-right: 10px;
}