
.event{
  width: 100%;
}

.group {
  font-weight: bold;
  /* display: inline-block; */
  padding-right: 10px;
  /* width: 100px; */
}
.id {
  display: inline-block;
  padding-right: 10px;
  width: 20px;
  }

.date {
display: inline-block;
padding-right: 10px;
width: 90px;
}

.day {
  display: inline-block;
  padding-right: 10px;
  width: 90px;
  }

.description {
  display: inline-block;
  /* padding-right: 10px; */
  width: 200px;
}

.type {
  display: inline-block;
  padding-right: 10px;
}